<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sankuai.mall.finance.fcs.dao.mapper.ProtocolPoiSubjectMapper" >
  <resultMap id="BaseResultMap" type="com.sankuai.mall.finance.fcs.dao.po.ProtocolPoiSubject" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="protocol_id" property="protocolId" jdbcType="BIGINT" />
    <result column="poi_id" property="poiId" jdbcType="BIGINT" />
    <result column="poi_name" property="poiName" jdbcType="VARCHAR" />
    <result column="poi_subject_no" property="poiSubjectNo" jdbcType="VARCHAR" />
    <result column="protocol_subject_no" property="protocolSubjectNo" jdbcType="VARCHAR" />
    <result column="protocol_subject_name" property="protocolSubjectName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="valid" property="valid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, protocol_id, poi_id, poi_name, poi_subject_no, protocol_subject_no, protocol_subject_name, 
    create_time, update_time, create_by, update_by, valid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sankuai.mall.finance.fcs.dao.po.ProtocolPoiSubjectCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from protocol_poi_subject
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from protocol_poi_subject
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from protocol_poi_subject
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sankuai.mall.finance.fcs.dao.po.ProtocolPoiSubjectCriteria" >
    delete from protocol_poi_subject
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sankuai.mall.finance.fcs.dao.po.ProtocolPoiSubject" >
    insert into protocol_poi_subject (id, protocol_id, poi_id, 
      poi_name, poi_subject_no, protocol_subject_no, 
      protocol_subject_name, create_time, update_time, 
      create_by, update_by, valid
      )
    values (#{id,jdbcType=BIGINT}, #{protocolId,jdbcType=BIGINT}, #{poiId,jdbcType=BIGINT}, 
      #{poiName,jdbcType=VARCHAR}, #{poiSubjectNo,jdbcType=VARCHAR}, #{protocolSubjectNo,jdbcType=VARCHAR}, 
      #{protocolSubjectName,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{valid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sankuai.mall.finance.fcs.dao.po.ProtocolPoiSubject" >
    insert into protocol_poi_subject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="protocolId != null" >
        protocol_id,
      </if>
      <if test="poiId != null" >
        poi_id,
      </if>
      <if test="poiName != null" >
        poi_name,
      </if>
      <if test="poiSubjectNo != null" >
        poi_subject_no,
      </if>
      <if test="protocolSubjectNo != null" >
        protocol_subject_no,
      </if>
      <if test="protocolSubjectName != null" >
        protocol_subject_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="valid != null" >
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="protocolId != null" >
        #{protocolId,jdbcType=BIGINT},
      </if>
      <if test="poiId != null" >
        #{poiId,jdbcType=BIGINT},
      </if>
      <if test="poiName != null" >
        #{poiName,jdbcType=VARCHAR},
      </if>
      <if test="poiSubjectNo != null" >
        #{poiSubjectNo,jdbcType=VARCHAR},
      </if>
      <if test="protocolSubjectNo != null" >
        #{protocolSubjectNo,jdbcType=VARCHAR},
      </if>
      <if test="protocolSubjectName != null" >
        #{protocolSubjectName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sankuai.mall.finance.fcs.dao.po.ProtocolPoiSubjectCriteria" resultType="java.lang.Integer" >
    select count(*) from protocol_poi_subject
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update protocol_poi_subject
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.protocolId != null" >
        protocol_id = #{record.protocolId,jdbcType=BIGINT},
      </if>
      <if test="record.poiId != null" >
        poi_id = #{record.poiId,jdbcType=BIGINT},
      </if>
      <if test="record.poiName != null" >
        poi_name = #{record.poiName,jdbcType=VARCHAR},
      </if>
      <if test="record.poiSubjectNo != null" >
        poi_subject_no = #{record.poiSubjectNo,jdbcType=VARCHAR},
      </if>
      <if test="record.protocolSubjectNo != null" >
        protocol_subject_no = #{record.protocolSubjectNo,jdbcType=VARCHAR},
      </if>
      <if test="record.protocolSubjectName != null" >
        protocol_subject_name = #{record.protocolSubjectName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.valid != null" >
        valid = #{record.valid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update protocol_poi_subject
    set id = #{record.id,jdbcType=BIGINT},
      protocol_id = #{record.protocolId,jdbcType=BIGINT},
      poi_id = #{record.poiId,jdbcType=BIGINT},
      poi_name = #{record.poiName,jdbcType=VARCHAR},
      poi_subject_no = #{record.poiSubjectNo,jdbcType=VARCHAR},
      protocol_subject_no = #{record.protocolSubjectNo,jdbcType=VARCHAR},
      protocol_subject_name = #{record.protocolSubjectName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      valid = #{record.valid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sankuai.mall.finance.fcs.dao.po.ProtocolPoiSubject" >
    update protocol_poi_subject
    <set >
      <if test="protocolId != null" >
        protocol_id = #{protocolId,jdbcType=BIGINT},
      </if>
      <if test="poiId != null" >
        poi_id = #{poiId,jdbcType=BIGINT},
      </if>
      <if test="poiName != null" >
        poi_name = #{poiName,jdbcType=VARCHAR},
      </if>
      <if test="poiSubjectNo != null" >
        poi_subject_no = #{poiSubjectNo,jdbcType=VARCHAR},
      </if>
      <if test="protocolSubjectNo != null" >
        protocol_subject_no = #{protocolSubjectNo,jdbcType=VARCHAR},
      </if>
      <if test="protocolSubjectName != null" >
        protocol_subject_name = #{protocolSubjectName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sankuai.mall.finance.fcs.dao.po.ProtocolPoiSubject" >
    update protocol_poi_subject
    set protocol_id = #{protocolId,jdbcType=BIGINT},
      poi_id = #{poiId,jdbcType=BIGINT},
      poi_name = #{poiName,jdbcType=VARCHAR},
      poi_subject_no = #{poiSubjectNo,jdbcType=VARCHAR},
      protocol_subject_no = #{protocolSubjectNo,jdbcType=VARCHAR},
      protocol_subject_name = #{protocolSubjectName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>